---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/1794978093/media/recent/?client_id=<INSTAGRAM_CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4994'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{},"meta":{"code":200},"data":[]}'
  recorded_at: Tue, 05 May 2015 21:20:10 GMT
recorded_with: VCR 2.9.3
