---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/<FACEBOOK_PAGE_ID>/posts?access_token=<FACEBOOK_APP_ID>%7C<FACEBOOK_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"b19fa6a28638c8d6a7732ac679575a02fc339e60"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"<FACEBOOK_PAGE_ID>_405239366267848","from":{"category":"Musician\/band","name":"Heathens","id":"<FACEBOOK_PAGE_ID>"},"message":"I
        don''t mean to impose, but I am the ocean.","privacy":{"value":"","description":"","friends":"","allow":"","deny":""},"type":"status","status_type":"mobile_status_update","created_time":"2015-04-25T06:14:58+0000","updated_time":"2015-04-25T06:14:58+0000","is_hidden":false},{"id":"<FACEBOOK_PAGE_ID>_400366776755107","from":{"category":"Musician\/band","name":"Heathens","id":"<FACEBOOK_PAGE_ID>"},"message":"Post
        test.","privacy":{"value":"","description":"","friends":"","allow":"","deny":""},"type":"status","status_type":"mobile_status_update","created_time":"2015-04-02T17:13:39+0000","updated_time":"2015-04-02T17:13:39+0000","is_hidden":false},{"id":"<FACEBOOK_PAGE_ID>_395105790614539","from":{"category":"Musician\/band","name":"Heathens","id":"<FACEBOOK_PAGE_ID>"},"story":"Heathens
        shared BuzzFeed Video''s video.","story_tags":{"0":[{"id":"<FACEBOOK_PAGE_ID>","name":"Heathens","type":"page","offset":0,"length":8}],"16":[{"id":"1318800798260799","name":"BuzzFeed
        Video","type":"page","offset":16,"length":14}],"33":[{"id":"1647586905382185","name":"","offset":33,"length":5}]},"picture":"https:\/\/fbcdn-vthumb-a.akamaihd.net\/hvthumb-ak-xat1\/v\/t15.0-10\/s130x130\/10963695_1647588418715367_1647586905382185_23568_1553_b.jpg?oh=fbb7fd599343c8386dfd092871d13bc0&oe=55D0D2D3&__gda__=1439830935_deb3bb86c3b814dc5747f424b2dd3810","link":"https:\/\/www.facebook.com\/BuzzFeedVideo\/videos\/1647586905382185\/","source":"https:\/\/fbcdn-video-e-a.akamaihd.net\/hvideo-ak-xpf1\/v\/t42.1790-2\/11033261_1647588332048709_1592263930_n.mp4?efg=eyJybHIiOjMwMCwicmxhIjo1MTJ9&rl=300&vabr=147&oh=e1d7ab1fcfe9d644d64cebb0e4e4b019&oe=553DAC18&__gda__=1430169772_c8b819df7ecf7f1b9814ea0ce0be3086","name":"BuzzFeed
        Video","description":"Americans Try Japanese Soda For The First Time","privacy":{"value":"","description":"","friends":"","allow":"","deny":""},"type":"video","status_type":"shared_story","created_time":"2015-03-07T19:32:23+0000","updated_time":"2015-03-12T03:49:28+0000","is_hidden":false,"comments":{"data":[{"id":"395105790614539_396030487188736","from":{"category":"Musician\/band","name":"Heathens","id":"<FACEBOOK_PAGE_ID>"},"message":"Yum.\r\n\nSent
        from Waffleme.com","can_remove":false,"created_time":"2015-03-12T03:49:28+0000","like_count":0,"user_likes":false}],"paging":{"cursors":{"after":"MQ==","before":"MQ=="}}}},{"id":"<FACEBOOK_PAGE_ID>_390745457717239","from":{"category":"Musician\/band","name":"Heathens","id":"<FACEBOOK_PAGE_ID>"},"message":"http:\/\/youtu.be\/JaW2MMDUy4I\n\nPost
        with video embed and kept link in body.","picture":"https:\/\/fbexternal-a.akamaihd.net\/safe_image.php?d=AQDh9pJwsGZJ5p2i&w=130&h=130&url=http\u00253A\u00252F\u00252Fi.ytimg.com\u00252Fvi\u00252FJaW2MMDUy4I\u00252Fhqdefault.jpg&cfs=1","link":"http:\/\/youtu.be\/JaW2MMDUy4I","source":"http:\/\/www.youtube.com\/v\/JaW2MMDUy4I?version=3&autohide=1&autoplay=1","name":"Eagles
        of Death Metal - I Want You So Hard feat Dave Grohl","caption":"youtube.com","icon":"https:\/\/www.facebook.com\/images\/icons\/post.gif","privacy":{"value":"","description":"","friends":"","allow":"","deny":""},"type":"video","status_type":"shared_story","created_time":"2015-02-16T19:39:27+0000","updated_time":"2015-02-24T20:03:16+0000","is_hidden":false,"likes":{"data":[{"id":"<FACEBOOK_PAGE_ID>","name":"Heathens"}],"paging":{"cursors":{"after":"MzUwMTA3MzMxNzgxMDUy","before":"MzUwMTA3MzMxNzgxMDUy"}}},"comments":{"data":[{"id":"390745457717239_392612724197179","from":{"category":"Musician\/band","name":"Heathens","id":"<FACEBOOK_PAGE_ID>"},"message":"Super.","can_remove":false,"created_time":"2015-02-24T20:03:16+0000","like_count":0,"user_likes":false}],"paging":{"cursors":{"after":"MQ==","before":"MQ=="}}}},{"id":"<FACEBOOK_PAGE_ID>_390745351050583","[...]
