---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=shaynarang
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="78aa2d5d2ba3a4c021ee305d91c6de85",
        oauth_signature="N%2FTubOszG99oossXl0YJzNTFPRE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1430031638", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 26 Apr 2015 07:02:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 7af51d8ee7afe2cf6815b1a6201cb305
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1430031810'
      X-Response-Time:
      - '48'
      X-Transaction:
      - 23e880ffcd8c8ea7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sat Apr 18 15:39:11 +0000 2015","id":589453126857527297,"id_str":"589453126857527297","text":"@ErinMPage
        No prob! I was in NSS Cohort 2 and had the pleasure of learning from @elizabrock.
        This may interest you: http:\/\/t.co\/Kd8MMBO62b","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":588458770654605312,"in_reply_to_status_id_str":"588458770654605312","in_reply_to_user_id":440917591,"in_reply_to_user_id_str":"440917591","in_reply_to_screen_name":"ErinMPage","user":{"id":1289967030,"id_str":"1289967030","name":"Akshay
        ''Shay'' Narang","screen_name":"shaynarang","location":"Nashville, Tennessee","profile_location":null,"description":"Musician.
        Ruby on Rails Developer.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":84,"friends_count":102,"listed_count":4,"created_at":"Sat
        Mar 23 00:10:30 +0000 2013","favourites_count":88,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":122,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/523138483330621440\/GoCRWOee_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/523138483330621440\/GoCRWOee_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ErinMPage","name":"Erin
        M Page","id":440917591,"id_str":"440917591","indices":[0,10]},{"screen_name":"elizabrock","name":"Eliza
        Brock Marcum","id":10358392,"id_str":"10358392","indices":[80,91]}],"urls":[{"url":"http:\/\/t.co\/Kd8MMBO62b","expanded_url":"http:\/\/www.meetup.com\/nashvillerails-beginners\/events\/221780564\/?a=me1_grp&rv=me1&_af=event&_af_eid=221780564","display_url":"meetup.com\/nashvillerails\u2026","indices":[116,138]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Wed
        Apr 15 19:28:48 +0000 2015","id":588423747880624128,"id_str":"588423747880624128","text":"@ErinMPage\n5.times
        do |i|\n    puts i\nend","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":588401215014338560,"in_reply_to_status_id_str":"588401215014338560","in_reply_to_user_id":440917591,"in_reply_to_user_id_str":"440917591","in_reply_to_scree[...]
