#bio_content
  %p
    If one could liken the combination of lush electronic synth tones and catchy pop melodies to a baby, the sound of
    %span.hthns HTHNS
    could reasonably be described as said baby punching you in the face.
  %br
  %p
    %span.hthns HTHNS
    is an electronic rock duo based out of Nashville, TN. Formed in 2014, the duo assimilates atmospheric, melodic, and songwriting elements prevalent in modern commercial music with dark, fuzzy, and quirky tones, presenting the ideal pop music experience for listeners who don’t like pop music. The debut record, GRTST HTS, is set for release in May 2015.