#pictures_content

  %h1 Pictures

  - @galleries.each do |gallery|
    - gallery.images.each do |image|
      .col-md-4.col.sm-12
        %a.fancybox{:href => image.content.large.url}
          = image_tag(image.content.medium.url)
    %br

:javascript

  jQuery(function() {
    $("a.fancybox").fancybox({'padding': 0, overlayOpacity: 0.8, overlayColor: '#000000'});
  });
