@import url(https://fonts.googleapis.com/css?family=Syncopate);

html {
  padding-top: 0;
}

body {
  background: #b7d0c4;
}

#wrapper {
  width: 96%;
  padding: 0 2%;
  margin: 1% 0 0 2%;
}

h1, p {
  color: black;
}

#main {
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 0;
  background: rgba(240, 255, 240, 0.4);
  border-radius: 0 0 20px 20px;
}

#main h1 {
  font-size: 200%;
  background: #d8e7e1;
  padding: 2% 2% 1.5% 2%;
  width: 20%;
  margin: 4% auto;
  border-radius: 5px;
}

#content img {
  width: 100%;
  height: 538px;
}

nav {
  margin-bottom: 3%;
  text-align: center;
}

nav ul {
  text-align: right;
  padding-top: 0%;
}

nav li {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: 15%;
  box-shadow: rgba(0,0,0,0.7) 0px 2px 6px, inset rgba(0,0,0,0.9) 0px -1px 2px;
  background: #dbe7e1;
  border-radius: 5px;
}

#heading_row{
  margin-left: 1.5%;
  margin-top: 1%;
  width: 97%;
  padding-top: 3%;
  border-top: 4px solid black;
}

#jquery_jplayer_1.jp-jplayer {
  margin: 0 auto 10% auto;
  padding-top: 0;
}

nav img {
  padding: 3%;
  width: 75%;
}

.highlight {
  box-shadow: rgba(0,0,0,0.1) 0px 1px 1px, inset 0 0 12px #b7d0c4;
  background: #f7faf9;
}

#heading, h1 {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
}

#heading h1 {
  margin-top: 3%;
  letter-spacing: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 340%;
}

#heading a {
  text-decoration: none;
  color: black;
}

#content h1{
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: bold;
}

#pictures_content img{
  height: 200px;
  margin-bottom: 25px;
}

#fancybox-close {
  margin-top: 5px !important;
  margin-right: -35px !important;
}

.fancybox-bg {
  display:none;
}

.post{
  display: inline-block;
  border-top: 2px solid white;
  padding: 2%;
  cursor: pointer;
}

.post_heading{
  text-align: center;
}

.post_content{
  display: none;
  margin-top: 2%;
}

#bio_content, #contact_content, #music_content, #pictures_content, #videos_content, #words_content{
  padding: 0 5% 5% 5%;
}

#contact_form input, #contact_form #message_content{
  margin-bottom: 2%;
  width: 100%;
  font-family: 'Syncopate', sans-serif;
  height: 40px;
  font-size: 150%;
  border: 5px solid #fff;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

#contact_form input:focus, #contact_form #message_content:focus{
  outline: 0;
  border: solid 5px #969696;
}

#contact_form #message_content{
  height: 150px;
}

#contact_form .actions{
  width: 20%;
  margin: 0 auto;
}

#contact_form .actions input{
  border: none;
  box-shadow: none;
  font-family: 'Syncopate', sans-serif;
  font-size: 120%;
  height: 50px;
  margin: 5% 0 15% 0;
  color: #fff;
  background: #969696;
}

.notice, .alert {
  display: none;
  width: 50%;
  margin: 0 auto 3% auto;
  font-size: 120%;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  padding: 2% 5%;
  border-radius: 2%;
}

#now-playing {
  font-size: 120%;
  padding-top: 14px;
}

#play_circle,
#prev,
#next {
  float: right;
}

#play_circle {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-radius: 50%;

  #play-container,
  #pause-container {
    width: 100%;
    height: 100%;
    position: relative;

    #play {
      width: 0;
      height: 0;
      position: absolute;
      top: 7px;
      left: 14px;
      border-left: 20px solid black;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
    }
    #pause {
      width: 20px;
      height: 25px;
      position: absolute;
      top: 9px;
      left: 11px;
      border-left: 7px solid black;
      border-right: 7px solid black;
    }
  }
}

#prev, #next {
  padding-top: 12px;
  .rew, .ff {
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
}

.ff {
  border-left: 16px solid black;
}

.rew {
  border-right: 16px solid black;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) {
  #heading h1{
    font-size: 600%;
  }

  nav ul{
    text-align: left;
    margin: auto;
    padding: 0;
  }

  nav li {
    width: 16%;
  }

  #main h1{
    font-size: 140%;
    width: 100%;
  }
}

@media only screen 
and (min-device-width : 569px) 
and (max-device-width : 767px) {
  #heading h1{
    font-size: 800%;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  #nav_column{
    padding: 1% 0;
    margin: 0;
  }

  #content_column{
    padding: 10% 0 0 0;
    margin: 0;
  }

  #heading h1 {
    font-size: 160%;
  }

  #main h1{
    font-size: 140%;
    width: 100%;
  }

  nav {
    box-shadow: none;
    margin: 4% 0;
  }

  nav ul{
    float: left;
    margin: auto;
    padding: 0;
  }

  nav li {
    width: 15%;
  }

  nav img {
    width: 80%;
  }

  .picture {
    margin-top: 5%;
  }

  #main {
    border-top: 3px solid white;
  }

  .contact_row {
    padding-left: 0;
    padding-right: 0;
  }

  #now-playing {
    text-align: center;
  }

  #audio_controls_column {
    margin: 5% 0;
  }

  #audio_controls {
    width: 60%;
    margin: auto;
  }
}