@import url(http://fonts.googleapis.com/css?family=Syncopate);

body {
  background: #b7d0c4;
}

#wrapper {
  width: 96%;
  padding: 0 2%;
  margin: 3% 0 0 2%;
}

h1, p {
  color: black;
}

#main {
  margin-top: 1%;
  border-top: 5px solid white;
  padding: 0;
  background: rgba(240, 255, 240, 0.4);
}

#main h1 {
  font-size: 200%;
  background: #d8e7e1;
  padding: 2% 2% 1.5% 2%;
  width: 20%;
  margin: 4% auto;
  border-radius: 5px;
}

#content {
  height: 480px;
}

#content img {
  width: 100%;
  height: 538px;
}

nav {
  margin-top: 1%;
  margin-bottom: 3%;
  text-align: center;
}

nav ul {
  text-align: right;
  padding-top: 1%;
}

nav li {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: 15%;
  box-shadow: rgba(0,0,0,0.7) 0px 2px 6px, inset rgba(0,0,0,0.9) 0px -1px 2px;
  background: #dbe7e1;
  border-radius: 5px;
}

nav img {
  padding: 3%;
  width: 75%;
}

.highlight {
  box-shadow: rgba(0,0,0,0.1) 0px 1px 1px, inset 0 0 12px #b7d0c4;
  background: #f7faf9;
}

#heading, h1 {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
}

#heading h1 {
  margin-top: 6.5%;
  color: white;
  letter-spacing: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 340%;
}

#heading a {
  text-decoration: none;
  color: white;
}

#content h1{
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: bold;
}

#pictures_content img{
  height: 200px;
  margin-bottom: 25px;
}

.post{
  display: inline-block;
  border-top: 2px solid white;
  padding: 2%;
}

.post_heading{
  text-align: center;
}

.post_content{
  display: none;
  margin-top: 2%;
}

#bio_content, #contact_content, #music_content, #pictures_content, #videos_content, #words_content{
  padding: 0 5%;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  #heading h1{
    font-size: 280%;
  }

  #main h1{
    width: 30%;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) {
  #heading h1{
    font-size: 600%;
  }

  nav ul{
    text-align: left;
    margin: auto;
    padding: 0;
  }

  nav li {
    width: 16%;
  }

  #main h1{
    font-size: 140%;
    width: 100%;
  }
}

@media only screen 
and (min-device-width : 569px) 
and (max-device-width : 767px) {
  #heading h1{
    font-size: 800%;
  }
}


@media (min-width: 320px) and (max-width: 568px) {
  #nav_column{
    padding: 1% 0;
    margin: 0;
  }

  #content_column{
    padding: 10% 0 0 0;
    margin: 0;
  }

  #heading h1 {
    font-size: 160%;
  }

  #main h1{
    font-size: 140%;
    width: 100%;
  }

  nav {
    box-shadow: none;
    margin: 4% 0;
  }

  nav ul{
    float: left;
    margin: auto;
    padding: 0;
  }

  nav li {
    width: 15%;
  }

  nav img {
    width: 80%;
  }

  .picture {
    margin-top: 5%;
  }

  #main {
    border-top: 3px solid white;
  }
}