@import url(https://fonts.googleapis.com/css?family=Syncopate);

html {
  padding-top: 0;
}

body {
  background: #d8e7e1;
  height: 720px;
}

#wrapper {
  width: 80%;
  margin: 0 auto;
}

h1, p {
  color: black;
}

#heading_row, #audio_row, #main {
  border-left: 5px solid black;
  border-right: 5px solid black;
}

#main {
  border-bottom: 5px solid black;
}

#audio_row {
  background: #89b29e;
  color: #f7faf9;
  padding: 2%;
  border-top: 5px solid black;
}

#main h1 {
  font-size: 200%;
  background: #b7d0c4;
  padding: 2% 2% 1.5% 2%;
  width: 25%;
  margin: 3% auto;
  border: 3px solid black;
}

#content_column {
  padding: 0;
}

#content img {
  width: 100%;
  height: 538px;
}

#jquery_jplayer_1.jp-jplayer {
  margin: 0 auto 10% auto;
  padding-top: 0;
}

#heading_row {
  padding-bottom: 1%;
  background: #b7d0c4;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

nav {
  margin-bottom: 3%;
  text-align: center;
  margin-top: 7%;
}

nav ul {
  text-align: right;
}

nav li {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: 15%;
}

nav img {
  width: 79%;
}

.highlight {
  background: #f7faf9;
  border: 3px solid black;
}

#heading, h1 {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
}

#heading h1 {
  letter-spacing: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 440%;
  padding: 4%;
}

#heading a {
  text-decoration: none;
  color: black;
}

#content h1{
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: bold;
}

#pictures_content img{
  height: 200px;
  margin-bottom: 25px;
}

#fancybox-close {
  margin-top: 5px !important;
  margin-right: -35px !important;
}

.fancybox-bg {
  display:none;
}

.post{
  display: inline-block;
  border-top: 2px solid white;
  padding: 2%;
  cursor: pointer;
}

.post_heading{
  text-align: center;
}

.post_content{
  display: none;
  margin-top: 2%;
}

#bio_content, #contact_content, #music_content, #pictures_content, #videos_content, #words_content{
  padding: 0 5% 5% 5%;
}

#contact_form input, #contact_form #message_content{
  margin-bottom: 2%;
  width: 100%;
  font-family: 'Syncopate', sans-serif;
  height: 40px;
  font-size: 150%;
  border: 5px solid #fff;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

#contact_form input:focus, #contact_form #message_content:focus{
  outline: 0;
  border: solid 5px #969696;
}

#contact_form #message_content{
  height: 150px;
}

#contact_form .actions{
  width: 20%;
  margin: 0 auto;
}

#contact_form .actions input{
  border: none;
  box-shadow: none;
  font-family: 'Syncopate', sans-serif;
  font-size: 120%;
  height: 50px;
  margin: 5% 0 15% 0;
  color: #fff;
  background: #969696;
}

.notice, .alert {
  display: none;
  width: 50%;
  margin: 0 auto 3% auto;
  font-size: 120%;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  padding: 2% 5%;
}

#now-playing {
  font-size: 120%;
  padding-top: 14px;
}

#play_circle,
#prev,
#next {
  float: right;
}

#play_circle {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  border: 4px solid #f7faf9;
  border-radius: 50%;
  #play-container,
  #pause-container {
    width: 100%;
    height: 100%;
    position: relative;

    #play {
      width: 0;
      height: 0;
      position: absolute;
      top: 7px;
      left: 14px;
      border-left: 20px solid #f7faf9;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
    }
    #pause {
      width: 20px;
      height: 25px;
      position: absolute;
      top: 9px;
      left: 11px;
      border-left: 7px solid #f7faf9;
      border-right: 7px solid #f7faf9;
    }
  }
}

#prev, #next {
  padding-top: 12px;
  .rew, .ff {
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
}

.ff {
  border-left: 16px solid #f7faf9;
}

.rew {
  border-right: 16px solid #f7faf9;}

#categories {
  margin: 1% 0 4% 0;
  padding: 3%;
  background: #b7d0c4;
}

#categories a {
  padding: 2%;
  margin-right: 2%;
  box-shadow: rgba(0,0,0,0.7) 0px 2px 6px, inset rgba(0,0,0,0.9) 0px -1px 2px;
  background: #dbe7e1;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) {
  #heading h1{
    font-size: 600%;
  }

  nav ul{
    text-align: left;
    margin: auto;
    padding: 0;
  }

  nav li {
    width: 16%;
  }

  #main h1{
    font-size: 140%;
    width: 100%;
  }
}

@media only screen 
and (min-device-width : 569px) 
and (max-device-width : 767px) {
  #heading h1{
    font-size: 800%;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  #wrapper {
    width: 100%;
  }

  #heading_row, #audio_row, #main {
    border: none;
  }

  #heading h1 {
    font-size: 300%;
    margin-bottom: 0%;
  }

  #main {
    padding-top: 3%;
  }

  #main h1{
    font-size: 200%;
    width: 100%;
    border: none;
    background: none;
  }

  nav {
    margin-top: 0%;
    padding-bottom: 18%;
  }

  nav ul{
    float: left;
    margin: auto;
    padding: 0;
  }

  nav li {
    width: 15%;
  }

  .highlight {
    border: none;
  }

  nav img {
    width: 80%;
  }

  .picture {
    margin-top: 5%;
  }

  .fancybox {
    pointer-events: none;
  }

  #categories {
    text-align: center;
  }

  .contact_row {
    padding-left: 0;
    padding-right: 0;
  }

  #now-playing {
    text-align: center;
    font-size: 90%;
  }

  #audio_controls_column {
    margin: 5% 0;
  }

  #audio_controls {
    width: 60%;
    margin: auto;
  }
}