#my-jplayer.jp-jplayer
.col-md-9.col-sm-9.col-xs-12{style: "padding: 0;"}
  #now-playing
    Now Playing:
    %span#song-title
.col-md-3.col-sm-3.col-xs-12#audio_controls_column
  #audio_controls
    #next
      .ff
      .ff
    #play_circle
      #play-container
        #play
      #pause-container
        #pause
    #prev
      .rew
      .rew
